.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    margin-top: 15px;
}

.label {
    font-size: 20px;
}

.input {
    border: none;
    border-bottom: 1px solid black;
}